<!DOCTYPE html>
<html lang="en">
<head>
    <title>Details Page</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="award">
        <h1>Details about <%= award.course %> Exam</h1>
        <img src=<%= award.image %> alt="">
        <p>Date: <%= award.date %></p>
        <p>Awarded by: <%= award.mentor %></p>
        <p>Technologies:</p>
<% for(var x in award.technologies){ %>
        <ul>
            <li> <%= award.technologies[x] %> </li>
        </ul>
<% } %>
    </div>
</body>
</html>