<%- include('./partials/head'); %>

    <div class="content">
        <h1>Submitted Entry</h1>
        <p> <span>Your Name (optional):</span>  <%= user.name %></p>
        <p> <span>Course Title:</span>  <%= user.course %> </p>
        <p> <span>Given Score (1-10):</span>  <%= user.score %> </p>
        <p> <span>Reason:</span>  <%= user.reason %></p>
    </div>
    
<%- include('./partials/footer'); %>